@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  @apply bg-surface-50 text-surface-900 antialiased;
}
